@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 200 188 190;
  --background-start-rgb: 0 0 0;
  --background-end-rgb: 20 8 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
